<section class="body-items block container">
    <div class="body-item">
        <div class="vector-item">
            <div class="vector-bgc">
                <img src="assets/images/Vector1.png" />
            </div>
            <h3 class="vector-text">درب و پنجره</h3>
        </div>
        <div class="vector-item">
            <div class="vector-bgc">
                <img src="assets/images/Vector2.png" />
            </div>
            <h3 class="vector-text">گل و گياه</h3>
        </div>
        <div class="vector-item">
            <div class="vector-bgc">
                <img src="assets/images/Vector3.png" />
            </div>
            <h3 class="vector-text">وسايل برقي</h3>
        </div>
        <div class="vector-item">
            <div class="vector-bgc">
                <img src="assets/images/Vector4.png" />
            </div>
            <h3 class="vector-text">روشنايي</h3>
        </div>
        <div class="vector-item">
            <div class="vector-bgc">
                <img src="assets/images/Vector5.png" />
            </div>
            <h3 class="vector-text">گرمايشي</h3>
        </div>
        <div class="vector-item">
            <div class="vector-bgc">
                <img src="assets/images/Vector6.png" />
            </div>
            <h3 class="vector-text">حيوانات</h3>
        </div>
    </div>
    <div class="body-pro">
        <h1 class="body-title">مديريت با دستگاه مرکزي</h1>
        <h3 class="body-text">
            بانواز براي مديريت و کنترل سنسورهاي خودش از يک دستگاه مرکزي استفاده ميکنه که همه
            چي تحت کنترل همين دستگاه مرکزيه. دستگاه به کمک اينترنت بع گوشي شما متصل ميشه و
            شما ميتونين همه چيز رو تحت کنترل خودتون بگيرين.
        </h3>
        <img src="assets/images/image 2.png" alt="" class="image-phone" />
        <img src="assets/images/image 1.png" alt="" class="image-desktop" />
    </div>
</section>