<footer class="main-footer">
    <div class="footer container">
        <div class="footer__item">
            <h6>بانواز</h6>
            <a href="#">خانه</a>
            <a href="#">فروشگاه</a>
            <a href="#">ورود به داشبورد</a>
        </div>
        <div class="footer__item">
            <h6>فروشگاه</h6>
            <a href="#">دستگاه مرکزي</a>
            <a href="#">سنسورهاي داخلي</a>
            <a href="#">سنسورهاي خارجي</a>
        </div>
        <div class="footer__item">
            <h6>بانواز</h6>
            <a href="#">درباره بانواز</a>
            <a href="#">وبلاگ</a>
            <a href="#">موقعيت هاي شغلي</a>
            <a href="#">تماس با ما</a>
        </div>
        <div class="footer__item">
            <h6>دانلود اپليکيشن</h6>
            <div class="link-img">
                <img src="assets/images/download.png" alt="" />
            </div>
        </div>
    </div>
    <div class="footer-link">
        <div class="links">
            <span class="link-i">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </span>
            <span class="link-i">
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </span>
            <span class="link-i">
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </span>
        </div>
        <h6 class="footer-text">تمامي حقوق متعلق به بانواز ميباشد</h6>
    </div>
</footer>
