<header class="header block container">
    <nav class="nav">
        <a class="logo">
            <img src="assets/images/Logo.png" alt="" />
        </a>
        <div class="menu">
            <button class="shopp">فروشگاه بانواز</button>
            <button class="shopp-larg"><a href="#">ورود به داشبورد</a></button>
            <button class="download-btn"><a href="#">دانلود اپليکيشن</a></button>
            <div class="humbergur__menu">
                <div class="items">
                    <div class="item item-one"></div>
                    <div class="item item-two"></div>
                    <div class="item item-three"></div>
                </div>
            </div>
        </div>
        <ul class="header__nav">
            <li class="head__nav"><a href="#">خانه</a></li>
            <li class="head__nav"><a href="#">فروشگاه</a></li>
            <li class="head__nav"><a href="#">درباره ما</a></li>
        </ul>
    </nav>
</header>