<section class="hero-section block container">
    <img src="assets/images/mobileSize.png" alt="" class="mobile-size" />
    <div class="desktop-size">
        <img src="assets/images/Group 124.png" alt="" class="building" />
        <img src="assets/images/iPhone 12 Mini.png" alt="" class="mobile" />
    </div>
    <div class="hero-body">
        <h1 class="hero-title">خيالت از خونه راحت!!</h1>
        <h3 class="hero-text-body">
            بانواز واژه اي کردي به معناي با خبر ساختن با صداي بلند است.درست مثل بانواز!
            با سنسورهاي بانواز از هيچ اتفاقي بي خبر نيستي! <br />
            چه خونه باشي چه نه.
        </h3>
        <div class="hero-footer">
            <button class="btn btn__primary btn-shop">فروشگاه بانواز</button>
        </div>
    </div>
</section>
