<section class="b-container">
    <section class="manage-home block container">
        <div class="home">
            <div class="home-img">
                <img src="assets/images/iPhone 12 .png" alt="" />
            </div>
            <div class="home-body">
                <h1 class="home-title">مديريت خانه روي گوشي!</h1>
                <h3 class="home-text-body">
                    با دانلود اپليکيشن بانواز ميتوني تمامي سنسورها رو روي گوشيت مشاهده و کنترل کني.
                </h3>
                <button class="btn home-btn home-phone">فروشگاه بانواز</button>
                <button class="btn home-btn home-desktop">دانلود اپليکيشن</button>
            </div>
        </div>
    </section>
</section>
