<section class="a-container">
    <section class="management container">
        <div class="manag">
            <div class="manag-top">
                <div class="child-img">
                    <img src="assets/images/image 4.png" alt="" class="mobile-sizee" />
                    <img src="assets/images/image 3.png" alt="" class="desktop-sizee" />
                </div>
                <div class="child-text">
                    <h2>داراي تنظيمات مخصوص کودکان!</h2>
                    <h3>نگران تغيير تنظيمات بانواز توسط فرزند عزيزت نباش!</h3>
                    <button class="btn btn__primary child-btn">دانلود بروشور</button>
                </div>
            </div>
        </div>
    </section>
</section>
