<section class="sensor-efficiency container">
    <div class="sensor">
        <div class="sensor-detail block">
            <img src="assets/images/Cover1.png" class="sensor-img sensor-phone" />
            <img src="assets/images/Cover5.png" class="sensor-img sensor-desktop" />

            <p class="sensor-text">
                سنسورهايي که براي حيوان هاي خانگي شما نصب ميشن ميتونن با هوش مصنوعي گرسنه بودن اون
                رو تشخيص بدن!
            </p>
        </div>
        <div class="sensor-detail block">
            <img src="assets/images/Cover2.png" class="sensor-img sensor-phone" />
            <img src="assets/images/Cover6.png" class="sensor-img sensor-desktop" />

            <p class="sensor-text">
                بامحاسبه حرارت اطراف خاک گياهان ميشه فهميد کي بايد دوباره به گياه ها آب بدي!
            </p>
        </div>
        <div class="sensor-detail block">
            <img src="assets/images/Cover3.png" class="sensor-img sensor-phone" />
            <img src="assets/images/Cover7.png" class="sensor-img sensor-desktop" />

            <p class="sensor-text">
                ميتوني مدت زمان روشن بودن دستگاه هاي الکتريکي رو کنترل کني. يا حتي براي روشن بودن
                اونها از بانواز کمک بگيري
            </p>
        </div>
        <div class="sensor-detail block">
            <img src="assets/images/Cover4.png" class="sensor-img sensor-phone" />
            <img src="assets/images/Cover8.png" class="sensor-img sensor-desktop" />

            <p class="sensor-text">
                باز و بسته شدن درب ها و پنجره ها،تشخيص حضور انسان و کلي قابليت ديگه در سنسورهاي
                بانواز!
            </p>
        </div>
    </div>
</section>
